extends layout

block content
  - if (reqjson===undefined) {reqjson=JSON.stringify({"a":"c"})}
  - let data =JSON.parse(reqjson)
  - if (profile===undefined) {profile=JSON.stringify({"a":"c"})}
  - let me =JSON.parse(profile)


  h1 Login API
  h3 User Page
  h3 The user page
  h3 access_token:
  ul
    li #{access_token}
  div(class="form-example")
    a(href="/") Home Page

  h3 client:
  ul
    li #{client}
  h3 profile:
  ul
  each val, key in me
    li= key + ': ' + JSON.stringify(val)

  h3 HTTP request:
  ul
  each val, key in data
    li= key + ': ' + JSON.stringify(val)



//- each val, key in JSON.parse(reqjson)
